services:
  back-end:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: postgres
      PORT: ${POSTGRES_PORT}
      APP_PORT: ${BACKEND_PORT}
      APP_HOST: 0.0.0.0
      JWT_KEY: ${BACKEND_JWT_KEY}
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"

  front-end:
    build:
      context: ./front-end
      dockerfile: Dockerfile
    environment:
      BACKEND_HOSTNAME: back-end
      BACKEND_PORT: ${BACKEND_PORT}
      SECRET_KEY: ${FRONTEND_SECRET_KEY}
      SERVER_PORT: ${FRONTEND_PORT}
      APP_PORT: ${FRONTEND_PORT}
      APP_HOST: 0.0.0.0
    depends_on:
      - back-end
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"

  postgres:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 5
    ports:
      - "5432:5432"
